h1{
    background-color: aqua;
}
body{
    background-color: rgb(236, 232, 121);
}

li{
    list-style: none;
    margin-right: 120px;
    padding: 20px;
    font-size: 20px;
   
    

}
ul{
    display: flex;
  
}